body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: whitesmoke;
  text-shadow: 2px 2px 8px black;
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body h2 {
  text-shadow: 2px 2px 10px black;
  font-family: "Londrina Solid", cursive;
}

body h2::hover {
  color: rgb(157, 238, 218);
  text-shadow: 2px 2px 10px black;
}

header {
  margin: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
  align-items: flex-start;
}

body {
  background-color: aqua;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-transform: capitalize;
}
.logo {
  width: 450px;
  height: 180px;
  background: none;
}
.pin {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-color: lightblue;
  margin: 25px;
  box-shadow: 2px 2px 50px white;
}
.nav-bar ul {
  font-size: 28px;
  font-family: "Londrina Solid", cursive;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 100px;
}
.nav a {
  margin: 60px;
  justify-content: space-between;
  text-decoration: blink;
  color: whitesmoke;
  padding: 2px 10px;
  border-radius: 10px;
  background: linear-gradient(
    rgba(255, 0, 255, 0.281),
    rgba(71, 171, 174, 0.416)
  );
  text-shadow: 0px 1px 3px black;
}
.nav a:hover {
  color: rgb(119, 0, 255);
  border: solid magenta;
  box-shadow: white 2px 2px 50px;
  background-color: whitesmoke;
  text-shadow: 1px 1px 15px white;
}
.banner {
  width: 210px;
  height: 350px;
  background-color: black;
  border-radius: 10px;
  margin: 70px;
  margin-top: 60px;
  box-shadow: 2px 2px 20px black;
}
.data {
  text-align: justify;
}
.sinopsis-text {
  font-family: "Londrina Solid", cursive;
  font-size: large;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 30px;
  text-shadow: 2px 2px 3px black;
  align-items: start;
  color: rgb(19, 247, 239);
  border-radius: 15px;
  margin: auto 15%;
  background: linear-gradient(
    rgba(128, 255, 0, 0.142),
    rgba(255, 0, 255, 0.208)
  );
}
.sinopsis-text {
  -webkit-animation: random 2s infinite;
  animation: random 2s infinite;
}
@keyframes random {
  15% {
    background-color: rgba(11, 86, 79, 0.126);
  }
  30% {
    background-color: rgba(19, 3, 109, 0.235);
  }
}
.sinopsis-text:hover {
  color: rgb(243, 188, 243);
  text-shadow: 2px 2px 8px black;
  box-shadow: rgb(172, 72, 172) 2px 2px 80px;
  background: linear-gradient(
    rgba(128, 255, 0, 0.178),
    rgba(255, 0, 255, 0.185)
  );
}
.character {
  text-align: center;
}
.container-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  text-align: center;
  width: 100%;
}
.grid-item {
  width: 150px;
  height: 260px;
  background-color: rgba(255, 0, 255, 0.295);
  padding: 10px;
  padding-bottom: 20px;
  margin: 15px;
  border-radius: 15px;
  border: solid rgb(238, 194, 238) 1px;
  font-family: "Courier New", Courier, monospace;
  font-size: x-small;
  text-shadow: black 2px 2px 2px;
  width: 100 %;
}
.grid-item:hover {
  box-shadow: white 2px 2px 111px;
  background-color: whitesmoke;
  color: rgb(136, 0, 255);
  text-shadow: black 2px 2px 15px;
}
.grid-item img {
  width: 150px;
  height: 150px;
  border: solid rgb(182, 75, 182) 1px;
  border-radius: 50% 50%;
}
.hbo {
  width: 150px;
  border-radius: 26px;
  border: solid 1.8px rgba(117, 8, 117, 0.733);
}
.hbo:hover {
  width: 150px;
  border: solid 1.8px white;
  box-shadow: 2px 2px 55px white;
}

.ver-serie {
  padding: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  font-family: "Londrina Solid", cursive;
  font-size: x-large;
  background-color: rgba(245, 222, 179, 0.185);
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  padding: 20px;
  background: linear-gradient(
    rgba(255, 0, 255, 0.281),
    rgba(128, 255, 0, 0.258)
  );
  margin-top: 160px;
  text-shadow: black 2px 2px 3px;
}
.git {
  width: 30px;
  border-radius: 50%;
  margin: 10px;
  border: solid 2px white;
}
.git:hover {
  box-shadow: 2px 2px 20px white;
  border: solid 2px rgb(248, 185, 248);
}
.fac {
  width: 30px;
  border-radius: 50%;
  margin: 10px;
  border: solid 2px white;
}
.fac:hover {
  box-shadow: 2px 2px 20px white;
  border: solid 2px magenta;
}
.final {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.info {
  padding: 30px;
}
.logos {
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
}
@media only screen and (min-width: 220px) and (max-width: 730px) {
  header {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0px;
    text-align: center;
  }
  .logo {
    width: 220px;
    height: 100px;
    padding: 0px;
    margin: auto 0px;
  }
  .pin {
    width: 150px;
    height: 150px;
    margin: auto 0px;
  }
  nav li {
    display: block;
    margin-bottom: 30px;
    text-align: center;
  }

  nav {
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
  }

  .banner {
    margin: auto 20px;
    width: 190px;
    height: 300px;
  }

  .sinopsis-text {
    border: none;
    display: block;
    background-color: none;
    align-items: center;
    margin: auto 5px;
  }
  .container-grid {
    display: flex;
    justify-content: center;
    margin: auto 55px;
    text-align: center;
  }
  .final {
    display: block;
    text-align: center;
    margin: auto 0px;
  }
  .logos {
    margin: auto 0px;
    align-items: center;
    padding: 10px;
  }
}
